Deployment/Temp
Deployment/target
Deployment/Settings/settings.conf
Deployment/*.pyc
Deployment/target
DummyProject/Temp
DummyProject/Library
DummyProject/CodeCoverage
DummyProject/*.pidb
DummyProject/*.apk
DummyProject/*.pidb
DummyProject/*.pidb
DummyProject/*.pidb
DummyProject/*.userprefs
DummyProject/*.userprefs
DummyProject/*.pidb
DummyProject/*.pidb
DummyProject/.vs/client/v17/*.suo

DummyProject/obj/Debug/Assembly-CSharp-Editor.csproj.FileListAbsolute.txt
DummyProject/obj/Debug/Assembly-CSharp-Editor.csprojResolveAssemblyReference.cache
DummyProject/obj/Debug/Assembly-CSharp-Editor.dll
DummyProject/obj/Debug/Assembly-CSharp-Editor.pdb
DummyProject/obj/Debug/Assembly-CSharp-firstpass.csproj.FileListAbsolute.txt
DummyProject/obj/Debug/Assembly-CSharp-firstpass.csprojResolveAssemblyReference.cache
DummyProject/obj/Debug/Assembly-CSharp-firstpass.dll
DummyProject/obj/Debug/Assembly-CSharp-firstpass.pdb
DummyProject/obj/Debug/Assembly-CSharp.csproj.FileListAbsolute.txt
DummyProject/obj/Debug/Assembly-CSharp.csprojResolveAssemblyReference.cache
DummyProject/obj/Debug/Assembly-CSharp.dll
DummyProject/obj/Debug/Assembly-CSharp.pdb
DummyProject/obj/*
DummyProject/Assets/UnityVS/*
DummyProject/Assets/UnityVS.meta
Deployment/intermediate
DummyProject/obj
/DummyProject/.vs/DummyProject/FileContentIndex/*.vsidx
/DummyProject/Library/
/DummyProject/Logs/*.log
